nav.top-bar(data-topbar)
    ul.title-area
        li.name
          h1
            a(href='#')= nav.title
        li.toggle-topbar.menu-icon
          a(href='#')
            span= nav.mobileLink

      section.top-bar-section
        ul.right
          for mainObject in nav.menu
            - mainKey = Object.keys(mainObject)[0]
            li.divider
            if typeof mainObject[mainKey] === 'string'
              li
                a(href='#')= mainKey
            else
              li.has-dropdown
                a(href='#')= mainKey
                ul.dropdown
                  for subObject in mainObject[mainKey]
                    if typeof subObject !== 'string'
                      - subKey = Object.keys(subObject)[0]
                      if subKey === '_section'
                        li
                          label= subObject[subKey]
                      else if subKey === '_divider'
                        li.divider
                      else if typeof subObject[subKey] === 'string'
                        li
                          a(href='#')= subKey
                      else
                        li.has-dropdown
                          a(href='#')= subKey
                          ul.dropdown
                            for subSubObject in subObject[subKey]
                              - subSubKey = Object.keys(subSubObject)[0]
                              li
                                a(href='#')= subSubKey